---
# Only the main Sass file needs front matter (the dashes are enough)
---

$side-padding: 1em;
$max-width: 900px;

body {
    background-color: #fff;
    font-family: "Avenir Next", "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 0;
    grid-column-gap: 1em;
    margin: 0;
}

.site-title {
    font-size: 1.3em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer, .page-content > .wrapper {
    padding: 0.75rem $side-padding;
    max-width: $max-width;
    margin: 0 auto;    
}

header > .wrapper, footer > .wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-span {
  display: flex;
  align-items: center;
}

header .page-link {
    padding-left: 2em;
}

.page-content {
    min-height: 70vh;
}

.header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  height: calc(1.5rem + 50px);
}

.page-content {
    background-color: #fdfdfd;
    border-bottom: 1px solid #e8e8e8;
}

.page-content h1 {
  position: -webkit-sticky;
  position: sticky;
  top: calc(1.5rem + 50px + 1px); // header padding + header height + header bottom border
  background-color: #fdfdfd;
  border-bottom: 0.5px solid #c9c9c9;
}

// From "Minima" Theme

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


.site-nav {
    // float: right;
    // line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
    //   color: $text-color;
    //   line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include media-query($on-palm) {
    //   position: absolute;
    //   top: 9px;
    //   right: $spacing-unit / 2;
    //   background-color: $background-color;
    //   border: 1px solid black;
    //   border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        // float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg path {
        //   fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }